// 颜色定义规范
$color-background = #f9f9f9
$color-theme = #26a2ff
$color-theme-1 = #2684cb
$color-loading = #bde1fc
$color-text = #333
$color-text-d = #666
$color-text-l = #999
$color-text-ll = #fff

// 边框颜色
$color-border = #E0E0E0
// 阴影
$box-shadow = 0 0 12px #dfdfdf
// 分割线（横线、竖线）颜色
$color-divider = #e2e2e2

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 边距
$padding-horizontal = 16px
$margin-vertical = 20px
